name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.74.3'
          extended: true
      
      - name: Setup Academic
        run: npm install gcushen/hugo-academic
        working-directory: ./
        
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.7'        
        
      - name: Setup Asciidoctor
        run: gem install asciidoctor-html5s
        working-directory: ./
      
      - name: Setup rouge
        run: gem install rouge
        working-directory: ./
        
      - name: Tune Asciidoctor #1
        run: chmod +x ./scripts/setup.sh

      - name: Tune Asciidoctor #2
        run: chmod +x ./scripts/asciidoctor

      - name: Tune Asciidoctor #3
        run: ./scripts/setup.sh
         
      - name: Build
        run: hugo --minify
        working-directory: ./

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
